@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif;
    */
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.imp-paragraph {
    color: rgb(255, 7, 210);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.second-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.transform {
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.transform:hover {
    transform: scale(1.1, 1.1);
}

.banner {
    margin-top: 30px;
    background-image: url('resources/Banner-Image.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .banner-text {
    max-width: 632px;
    text-align: center;
    padding: 177px 340px;
    color: #fff;
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px 4px #000000;
    line-height: 95px;
}

.banner .banner-text p {
    font-size: 38px;
    font-weight: 400;
}

.banner .banner-text h1 {
    font-size: 80px;
    font-weight: 900;
}

#discount .discount-content {
    text-align: center;
    margin: 70px auto;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 850px;
}

/* #discount .discount-content .discount-text{
max-width: 300px;
} */
#discount .discount-content .discount-text h2 {
    color: #F00;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 25px;
}

#discount .discount-content .discount-text p {}

#discount .discount-content .discount-img img {
    text-align: center;
    width: 100%;
}

#welcome-party .midnight-party {
    background-image: url('resources/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; */
    padding: 60px 0px;
    border-radius: 8px;
}

#welcome-party .midnight-party .welcome-text {
    max-width: 600px;
    color: #FFF;
}

#welcome-party .midnight-party .welcome-text h2 {

    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 20px;
}

#welcome-party .midnight-party .welcome-text p {
    color: rgba(255, 255, 255, 0.918);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px #000000;

}

#welcome-party .midnight-party .welcome-text button {
    color: #FFF;
    border: none;
    background: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 3px;
}

.welcome-party .midnight-party .welcome-img {
    display: flex;
    max-width: 280px;
}

.welcome-party .midnight-party .welcome-img img {
    will-change: 100%;
}

#time-location .party-spot {
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0;
    text-align: center;
    border-radius: 8px;

}

#time-location .party-spot .time-location-details h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.important {
    color: #F00;
}

#time-location .party-spot .time-location-details button {
    border-radius: 8px;
    border: none;
    background: #F00;
    padding: 16px 32px;
    padding: 16px 32px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#offers .round-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding: 100px 0;
    align-items: center;
}

#offers .round-img .box1 h3,
#section-portfolio .new-product .portfolio-text h3,
#subscription .subscribe-newsletter .subscribe-text h3 {
    font-family: 'Merriweather', serif;
}

#offers .round-img .box2 {
    border: 12px solid rgba(136, 0, 255, 0.741);
    border-radius: 210px;
    padding: 15px;
}

#offers .round-img .box3 h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

#offers .round-img .box3 img {
    margin-top: 43px;
}

#section-portfolio .new-product .portfolio-text {
    max-width: 800px;
    margin-bottom: 40px;
}

#section-portfolio .new-product .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

#subscription .subscribe-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.05);
    margin-top: 100px;
    padding: 80px 0;
}

#subscription .subscribe-newsletter * {
    max-width: 800px;
    margin-bottom: 20px;
}

#subscription .subscribe-newsletter form {
    width: 100%;
    display: flex;
}

#subscription .subscribe-newsletter form input {
    border-radius: 50px 0 0 50px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    flex-grow: 1;
    padding: 25px;

}

#subscription .subscribe-newsletter form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 25px;
    cursor: pointer;

}

footer {
    margin-top: 120px;
    background-color: #070211;
}
footer .foot{
   
    align-items: center;
    padding: 120px 140px;
}

footer .contact-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    margin-bottom: 50px;
}
footer .contact-us *{
max-width: 250px;
}
footer .contact-us .contact-information {
    text-align: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    
    
}
 ul li{
    list-style: none;
    font-size: 10px;
    line-height: 18px;

}
footer .foot .social-icons{
    text-align: center;
    padding: 30px 0;
}
footer .foot .social-icons img{
    padding: 10px;
}
footer .foot .ending {
 color: #FFF;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-top: 50px;
 gap: 10px;
}
footer .foot .ending .footer a{
    text-decoration: none;
    color: #FFF;
    padding-left: 122px;
